body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.titulo-principal {
    text-align: center;
}

.titulo-inventario {
    text-align: center;
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}